<h1>Ticket Tracker Home Page</h1>
<h3><%= erb :'_errors' %></h3>
<% if current_user %>
<a href="/trackings/new">Create New Tracking</a> <br>
<h3>Trackings</h3>
<% current_user.trackings.each do |tracking| %>

Tracking #: <%= tracking.id %><br>
Number of Tickets: <%= tracking.num_of_tix %>
Event Name:
<%= tracking.event.name %><br>
Order Cost:
<%= tracking.order_cost %><br><br>
<% end %>
<% else %>
Please Login or Create New Account.
<% end %>

<!-- <br><img src="http://static.spin.com/files/2017/04/LilYachty_NEIL-FAVILA-1492114684-640x447.jpg"> -->
