<h1>Ticket Tracker Home Page</h1>
<h3><%= erb :'_errors' %></h3>
<% if current_user %>
<a href="/trackings/new">Add Tracking</a> <br>
<a href="/sales/new">Add Sale</a>

<h3>Net Gain/Loss</h3>
<%= net %>
<div id="display">
	<div class="column">
		<h3>Order Costs</h3>
		<%= total_order_costs%>
		<h3>Trackings</h3>
		<% current_user.trackings.each do |tracking| %>
		<div class = "entry">
		Tracking #: <%= tracking.id %><br>
		Number of Tickets: <%= tracking.num_of_tix %>
		Event Name:
		<%= tracking.event.name %><br>
		Order Cost:
		$<%= tracking.order_cost %><br>
		</div>
		<% end %>
	</div>

	<div class="column">
		<h3>Total Sales</h3>
		<%= total_sales %>
		<h3>Sales</h3>
		<% current_user.sales.each do |sale| %>
		<div class = "entry">
		Sale #: <%= sale.id %><br>
		Number of Tickets: <%= sale.num_of_tix %><br>
		Event Name:
		<%= sale.event.name %><br>
		Sale Price:
		$<%= sale.price %><br>
		</div>
		<% end %>
	</div>
</div>
<% else %>
Please Login or Create New Account.
<% end %>

<!-- <br><img src="http://static.spin.com/files/2017/04/LilYachty_NEIL-FAVILA-1492114684-640x447.jpg"> -->
